.animatedTerminal:hover::before,
.animatedTerminal:hover::after {
  content: var(--tw-content);
  animation-play-state: paused;
}

.aboutWriteupActive {
  --tw-scale-x: 105%;
  --tw-scale-y: 105%;
  --tw-scale-z: 105%;
  scale: var(--tw-scale-x) var(--tw-scale-y);
}

.projectCardActive::before,
.projectCardActive::after{
    opacity: 1;
}

.projectCardActive .content{
    top: calc(var(--spacing)  * 10);
    border-top-left-radius: var(--radius-3xl) /* 1.5rem = 24px */;
    border-top-right-radius: var(--radius-3xl) /* 1.5rem = 24px */;
    padding-block: calc(var(--spacing) * 4)
}
